@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #191c1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #45464c;
  --color-outline-variant: #c6c6cd;
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #555f6d;
}

body {
  background: var(--background);
  color: var(--foreground);
}

